<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="LynxConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{HH:mm:ss} %-4p] %c{1}: %m %n"/>
        </Console>
        <File name="MyFile" fileName="logs/app.log">
            <PatternLayout pattern="[%d{HH:mm:ss} %-4p] %c{1}: %m %n"/>
        </File>
    </Appenders>
    <Loggers>

        <Root level="info">
            <AppenderRef ref="LynxConsoleAppender"/>
            <AppenderRef ref="MyFile"/>
        </Root>
    </Loggers>
</Configuration>